<footer class="style-618">
    <div class="style-619" bis_skin_checked="1">
        <div class="style-620" bis_skin_checked="1">
            <div class="style-621" bis_skin_checked="1"><a
                    href="https://porter.in?controller=website&amp;action=home" class="style-622"><span
                        class="style-623"><span class="style-624"><img alt="" aria-hidden="true"
                                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27152.5%27%20height=%2725%27/%3e"
                                class="style-625" /></span><img alt="Porter Logo"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                            decoding="async" data-nimg="intrinsic" class="style-626" /><noscript
                            class="style-627"><img alt="Porter Logo" loading="lazy" decoding="async"
                                data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/porter_logo_v3.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/porter_logo_v3.svg 2x"
                                src="https://dom-website-prod-cdn-web.porter.in/public/images/common/porter_logo_v3.svg" /></noscript></span></a>
                <div class="style-628" bis_skin_checked="1">
                    <div class="style-629" bis_skin_checked="1">
                        <div class="style-630" bis_skin_checked="1"><a
                                href="https://porter.in/app?utm_source=footer&amp;utm_medium=footer_organic&amp;utm_campaign=static_download&amp;utm_term=home&amp;utm_content=&amp;landing_page=desktop_delhi&amp;current_page=footer_home_desktop&amp;feature_source=footer_home_desktop"
                                class="style-631"><span class="style-632"><span class="style-633"><img
                                            alt="" aria-hidden="true"
                                            src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27126%27%20height=%2739%27/%3e"
                                            class="style-634" /></span><img alt="android-download"
                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                        decoding="async" data-nimg="intrinsic"
                                        class="style-635" /><noscript class="style-636"><img
                                            alt="android-download" loading="lazy" decoding="async"
                                            data-nimg="intrinsic"
                                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                            srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/googleplay.png 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/googleplay.png 2x"
                                            src="https://dom-website-prod-cdn-web.porter.in/public/images/common/googleplay.png" /></noscript></span></a>
                        </div>
                        <div class="style-637" bis_skin_checked="1"><a
                                href="https://porter.in/app?utm_source=footer&amp;utm_medium=footer_organic&amp;utm_campaign=static_download&amp;utm_term=home&amp;utm_content=&amp;landing_page=desktop_delhi&amp;current_page=footer_home_desktop&amp;feature_source=footer_home_desktop"
                                class="style-638"><span class="style-639"><span class="style-640"><img
                                            alt="" aria-hidden="true"
                                            src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27126%27%20height=%2739%27/%3e"
                                            class="style-641" /></span><img alt="iOS-download"
                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                        decoding="async" data-nimg="intrinsic"
                                        class="style-642" /><noscript class="style-643"><img
                                            alt="iOS-download" loading="lazy" decoding="async"
                                            data-nimg="intrinsic"
                                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                            srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/appstore.png 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/appstore.png 2x"
                                            src="https://dom-website-prod-cdn-web.porter.in/public/images/common/appstore.png" /></noscript></span></a>
                        </div>
                    </div>
                </div>
                <div class="style-644" bis_skin_checked="1"></div>
                <div class="style-645" bis_skin_checked="1">
                    <div class="style-646" bis_skin_checked="1">
                        <div class="style-647" bis_skin_checked="1">Follow us on</div>
                        <div class="style-648" bis_skin_checked="1"><a class="style-649"
                                href="https://www.facebook.com/porterindia/" rel="noreferrer"
                                target="_blank"></a><a class="style-650"
                                href="https://twitter.com/porterit_" rel="noreferrer"
                                target="_blank"></a><a class="style-651"
                                href="https://www.instagram.com/porter_it/" rel="noreferrer"
                                target="_blank"></a><a class="style-652"
                                href="https://www.linkedin.com/company/theporter-in" rel="noreferrer"
                                target="_blank"></a><a class="style-653"
                                href="https://www.youtube.com/channel/UC6eokjbxNMN2WQNgyZElNeA/feed"
                                rel="noreferrer" target="_blank"></a></div>
                    </div>
                    <div class="style-654" bis_skin_checked="1">
                        <div class="style-655" bis_skin_checked="1">Download our app now!</div>
                        <div class="style-656" bis_skin_checked="1">
                            <div class="style-657" bis_skin_checked="1">
                                <div class="style-658" bis_skin_checked="1"><a
                                        href="https://porter.in/app?utm_source=footer&amp;utm_medium=footer_organic&amp;utm_campaign=static_download&amp;utm_term=home&amp;utm_content=&amp;landing_page=desktop_delhi&amp;current_page=footer_home_desktop&amp;feature_source=footer_home_desktop"
                                        class="style-659"><span class="style-660"><span
                                                class="style-661"><img alt="" aria-hidden="true"
                                                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27126%27%20height=%2739%27/%3e"
                                                    class="style-662" /></span><img
                                                alt="android-download"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                decoding="async" data-nimg="intrinsic"
                                                class="style-663" /><noscript class="style-664"><img
                                                    alt="android-download" loading="lazy"
                                                    decoding="async" data-nimg="intrinsic"
                                                    style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                                    srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/googleplay.png 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/googleplay.png 2x"
                                                    src="https://dom-website-prod-cdn-web.porter.in/public/images/common/googleplay.png" /></noscript></span></a>
                                </div>
                                <div class="style-665" bis_skin_checked="1"><a
                                        href="https://porter.in/app?utm_source=footer&amp;utm_medium=footer_organic&amp;utm_campaign=static_download&amp;utm_term=home&amp;utm_content=&amp;landing_page=desktop_delhi&amp;current_page=footer_home_desktop&amp;feature_source=footer_home_desktop"
                                        class="style-666"><span class="style-667"><span
                                                class="style-668"><img alt="" aria-hidden="true"
                                                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27126%27%20height=%2739%27/%3e"
                                                    class="style-669" /></span><img alt="iOS-download"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                decoding="async" data-nimg="intrinsic"
                                                class="style-670" /><noscript class="style-671"><img
                                                    alt="iOS-download" loading="lazy" decoding="async"
                                                    data-nimg="intrinsic"
                                                    style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                                    srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/appstore.png 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/appstore.png 2x"
                                                    src="https://dom-website-prod-cdn-web.porter.in/public/images/common/appstore.png" /></noscript></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="style-672" bis_skin_checked="1">
                <div class="style-673" bis_skin_checked="1">
                    <div class="style-674" bis_skin_checked="1">
                        <div class="style-675" bis_skin_checked="1">Company</div>
                        <div class="style-676" bis_skin_checked="1">
                            <div class="style-677" bis_skin_checked="1">About Us</div>
                            <div class="style-678" bis_skin_checked="1">Careers</div>
                            <div class="style-679" bis_skin_checked="1">Blog</div>
                        </div>
                    </div>
                    <div class="style-680" bis_skin_checked="1">
                        <div class="style-681" bis_skin_checked="1">Quick Links</div>
                        <div class="style-682" bis_skin_checked="1">
                            <div class="style-683" bis_skin_checked="1">API Integrations</div>
                            <div class="style-684" bis_skin_checked="1">InterCity Courier</div>
                            <div class="style-685" bis_skin_checked="1">Packers &amp; Movers</div>
                            <div class="style-686" bis_skin_checked="1">Two Wheelers</div>
                            <div class="style-687" bis_skin_checked="1">Trucks</div>
                            <div class="style-688" bis_skin_checked="1">Porter Enterprise</div>
                        </div>
                    </div>
                    <div class="style-689" bis_skin_checked="1">
                        <div class="style-690" bis_skin_checked="1">Support</div>
                        <div class="style-691" bis_skin_checked="1">
                            <div class="style-692" bis_skin_checked="1">Contact Us</div>
                            <div class="style-693" bis_skin_checked="1">Privacy Policy</div>
                            <div class="style-694" bis_skin_checked="1">Terms of Service</div>
                            <div class="style-695" bis_skin_checked="1">Insurance FAQs</div>
                            <div class="style-696"
                                href="https://porter.in/terms-of-service/partners?controller=website&amp;action=home"
                                bis_skin_checked="1">Driver Partner Terms &amp; Conditions</div>
                            <div class="style-697"
                                href="https://drive.google.com/viewerng/viewer?embedded=true&amp;url=https://dom-website-prod-cdn-web.porter.in/zero_tolerance_policy.pdf?controller=website&amp;action=home"
                                bis_skin_checked="1">Zero Tolerance Policy</div>
                        </div>
                    </div>
                    <div class="style-698" bis_skin_checked="1">
                        <div class="style-699" bis_skin_checked="1">Countries</div>
                        <div class="style-700" bis_skin_checked="1"><a
                                href="https://porter.ae/?controller=website&amp;action=home"
                                class="style-701">
                                <div class="style-702" bis_skin_checked="1">United Arab Emirates</div>
                            </a><a href="https://porter.com.bd/?controller=website&amp;action=home"
                                class="style-703">
                                <div class="style-704" bis_skin_checked="1">Bangladesh</div>
                            </a><a href="https://theporter.com.tr/?controller=website&amp;action=home"
                                class="style-705">
                                <div class="style-706" bis_skin_checked="1">Turkey</div>
                            </a></div>
                    </div>
                </div>
                <div class="style-707" bis_skin_checked="1">
                    <div class="style-708" bis_skin_checked="1">
                        <div class="style-709" bis_skin_checked="1">Domestic Cities</div>
                        <div class="style-710" bis_skin_checked="1">
                            <div class="style-711"
                                href="https://porter.in/rent-mini-trucks-in-delhi?controller=website&amp;action=home"
                                bis_skin_checked="1">Delhi NCR</div>
                            <div class="style-712"
                                href="https://porter.in/rent-mini-trucks-in-hyderabad?controller=website&amp;action=home"
                                bis_skin_checked="1">Hyderabad</div>
                            <div class="style-713"
                                href="https://porter.in/rent-mini-trucks-in-bangalore?controller=website&amp;action=home"
                                bis_skin_checked="1">Bangalore</div>
                            <div class="style-714"
                                href="https://porter.in/rent-mini-trucks-in-mumbai?controller=website&amp;action=home"
                                bis_skin_checked="1">Mumbai</div>
                            <div class="style-715"
                                href="https://porter.in/rent-mini-trucks-in-vadodara?controller=website&amp;action=home"
                                bis_skin_checked="1">Vadodara</div>
                            <div class="style-716"
                                href="https://porter.in/rent-mini-trucks-in-chandigarh?controller=website&amp;action=home"
                                bis_skin_checked="1">Chandigarh</div>
                            <div class="style-717"
                                href="https://porter.in/rent-mini-trucks-in-jaipur?controller=website&amp;action=home"
                                bis_skin_checked="1">Jaipur</div>
                            <div class="style-718"
                                href="https://porter.in/rent-mini-trucks-in-chennai?controller=website&amp;action=home"
                                bis_skin_checked="1">Chennai</div>
                            <div class="style-719"
                                href="https://porter.in/rent-mini-trucks-in-kolkata?controller=website&amp;action=home"
                                bis_skin_checked="1">Kolkata</div>
                            <div class="style-720"
                                href="https://porter.in/rent-mini-trucks-in-indore?controller=website&amp;action=home"
                                bis_skin_checked="1">Indore</div>
                            <div class="style-721"
                                href="https://porter.in/rent-mini-trucks-in-ahmedabad?controller=website&amp;action=home"
                                bis_skin_checked="1">Ahmedabad</div>
                            <div class="style-722"
                                href="https://porter.in/rent-mini-trucks-in-surat?controller=website&amp;action=home"
                                bis_skin_checked="1">Surat</div>
                            <div class="style-723"
                                href="https://porter.in/rent-mini-trucks-in-nagpur?controller=website&amp;action=home"
                                bis_skin_checked="1">Nagpur</div>
                            <div class="style-724"
                                href="https://porter.in/rent-mini-trucks-in-lucknow?controller=website&amp;action=home"
                                bis_skin_checked="1">Lucknow</div>
                            <div class="style-725"
                                href="https://porter.in/rent-mini-trucks-in-pune?controller=website&amp;action=home"
                                bis_skin_checked="1">Pune</div>
                            <div class="style-726"
                                href="https://porter.in/rent-mini-trucks-in-coimbatore?controller=website&amp;action=home"
                                bis_skin_checked="1">Coimbatore</div>
                            <div class="style-727"
                                href="https://porter.in/rent-mini-trucks-in-ludhiana?controller=website&amp;action=home"
                                bis_skin_checked="1">Ludhiana</div>
                            <div class="style-728"
                                href="https://porter.in/rent-mini-trucks-in-kochi?controller=website&amp;action=home"
                                bis_skin_checked="1">Kochi</div>
                            <div class="style-729"
                                href="https://porter.in/rent-mini-trucks-in-nashik?controller=website&amp;action=home"
                                bis_skin_checked="1">Nashik</div>
                            <div class="style-730"
                                href="https://porter.in/rent-mini-trucks-in-kanpur?controller=website&amp;action=home"
                                bis_skin_checked="1">Kanpur</div>
                            <div class="style-731"
                                href="https://porter.in/bike-parcel-delivery-visakhapatnam?controller=website&amp;action=home"
                                bis_skin_checked="1">Visakhapatnam</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="style-732" bis_skin_checked="1">
            <div class="style-733" bis_skin_checked="1">Registered Office:</div>
            <div class="style-734" bis_skin_checked="1">
                <div class="style-735" bis_skin_checked="1">© 2025 SmartShift Logistics Solutions Pvt.
                    Ltd.</div>
            </div>
            <p class="style-736">No. A-501, A-502, B-504, B-505 and B-506, Fifth Floor at Universal
                Business Park, Chandivali Farm Road, off. Saki Vihar Road, Andheri (East),
                Mumbai-4000072, Maharastra</p>
            <div class="style-737" bis_skin_checked="1">
                <div class="style-738" bis_skin_checked="1"><span class="style-739">CIN:
                    </span>U74999MH2014PTC306120</div>
                <div class="style-740" bis_skin_checked="1"><span class="style-741">Email:
                    </span>help@theporter.in</div>
                <div class="style-742" bis_skin_checked="1"><span class="style-743">Phone: </span>080
                    4410 4410</div>
            </div>
        </div>
        <div class="style-744" bis_skin_checked="1">
            <div class="style-745" bis_skin_checked="1">
                <div class="style-746" bis_skin_checked="1">Follow us on</div>
                <div class="style-747" bis_skin_checked="1"><a class="style-748"
                        href="https://www.facebook.com/porterindia/" rel="noreferrer"
                        target="_blank"></a><a class="style-749" href="https://twitter.com/porterit_"
                        rel="noreferrer" target="_blank"></a><a class="style-750"
                        href="https://www.instagram.com/porter_it/" rel="noreferrer"
                        target="_blank"></a><a class="style-751"
                        href="https://www.linkedin.com/company/theporter-in" rel="noreferrer"
                        target="_blank"></a><a class="style-752"
                        href="https://www.youtube.com/channel/UC6eokjbxNMN2WQNgyZElNeA/feed"
                        rel="noreferrer" target="_blank"></a></div>
            </div>
        </div>
    </div>
</footer>