<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div bis_skin_checked="1" class="style-1">
        <div class="style-2" bis_skin_checked="1">
            <div bis_skin_checked="1" class="style-3"></div>
            <div bis_skin_checked="1" class="style-4">
                <div class="style-5" bis_skin_checked="1">
                    <%- include('../partials/header') %>
                </div>
                <%- body %>
                <%- include('../partials/footer') %>
            </div>
        </div>
    </div>

    <script src="/js/script.js"></script>
</body>

</html>