<div class="style-239" bis_skin_checked="1">
    <div class="style-240" bis_skin_checked="1">
        <h2 class="style-241">And thanks to you, we are growing each &amp; every day!</h2>
        <div class="style-242" bis_skin_checked="1">
            <div class="style-243" bis_skin_checked="1">
                <div class="style-244" bis_skin_checked="1">Marhaba Dubai! We're now live &amp;
                    ready to take care of all your logisitical needs.</div>
            </div>
        </div>
        <div class="style-245" bis_skin_checked="1">
            <div class="style-246" bis_skin_checked="1">
                <div bis_skin_checked="1" class="style-247">21+</div>
                <div class="style-248" bis_skin_checked="1">Indian Cities</div>
            </div>
            <div class="style-249" bis_skin_checked="1">
                <div bis_skin_checked="1" class="style-250">7.5 Lakh+</div>
                <div class="style-251" bis_skin_checked="1">Driver Partners</div>
            </div>
            <div class="style-252" bis_skin_checked="1">
                <div bis_skin_checked="1" class="style-253">1.5+ Crore</div>
                <div class="style-254" bis_skin_checked="1">Customers</div>
            </div>
        </div>
    </div>
    <div class="style-255" bis_skin_checked="1">
        <div class="style-256" bis_skin_checked="1"><span class="style-257"><span
                    class="style-258"><img alt="" aria-hidden="true"
                        src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27532%27%20height=%27400%27/%3e"
                        class="style-259" /></span><img
                    alt="Cities where Porter is operating in."
                    src="https://dom-website-prod-cdn-cms.porter.in/porter_india_v3_847f077bba_639cd5ce3a.webp"
                    decoding="async" data-nimg="intrinsic"
                    srcset="https://dom-website-prod-cdn-cms.porter.in/porter_india_v3_847f077bba_639cd5ce3a.webp 1x, https://dom-website-prod-cdn-cms.porter.in/porter_india_v3_847f077bba_639cd5ce3a.webp 2x"
                    class="style-260" /><noscript class="style-261"><img
                        alt="Cities where Porter is operating in." loading="lazy"
                        decoding="async" data-nimg="intrinsic"
                        style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                        srcSet="https://dom-website-prod-cdn-cms.porter.in/porter_india_v3_847f077bba_639cd5ce3a.webp 1x, https://dom-website-prod-cdn-cms.porter.in/porter_india_v3_847f077bba_639cd5ce3a.webp 2x"
                        src="https://dom-website-prod-cdn-cms.porter.in/porter_india_v3_847f077bba_639cd5ce3a.webp" /></noscript></span>
        </div>
        <div class="style-262" bis_skin_checked="1">We are serving in Delhi NCR, Bengaluru,
            Mumbai, Hyderabad, Ahmedabad, Jaipur, Pune, Kolkata, Surat, Chennai, Coimbatore,
            Indore, Nagpur, Chandigarh, Lucknow, Vadodara, Ludhiana, Kochi, Nashik, Kanpur,
            Trivandrum and Vizag.</div>
    </div>
    <div class="style-263" bis_skin_checked="1">
        <div class="style-264" bis_skin_checked="1"><span class="style-265"><span
                    class="style-266"><img alt="" aria-hidden="true"
                        src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2750%27%20height=%278%27/%3e"
                        class="style-267" /></span><img alt="decoration"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                    decoding="async" data-nimg="intrinsic" class="style-268" /><noscript
                    class="style-269"><img alt="decoration" loading="lazy" decoding="async"
                        data-nimg="intrinsic"
                        style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                        srcSet="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/home/section-header-wave-light.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/assets/icons/home/section-header-wave-light.svg 2x"
                        src="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/home/section-header-wave-light.svg" /></noscript></span>
            <h2 class="style-270">SOME WORDS FROM OUR HAPPY CUSTOMERS!</h2><span
                class="style-271"><span class="style-272"><img alt="" aria-hidden="true"
                        src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2750%27%20height=%278%27/%3e"
                        class="style-273" /></span><img alt="decoration"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                    decoding="async" data-nimg="intrinsic" class="style-274" /><noscript
                    class="style-275"><img alt="decoration" loading="lazy" decoding="async"
                        data-nimg="intrinsic"
                        style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                        srcSet="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/home/section-header-wave-light.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/assets/icons/home/section-header-wave-light.svg 2x"
                        src="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/home/section-header-wave-light.svg" /></noscript></span>
        </div>
        <div class="style-276" bis_skin_checked="1">
            <div class="style-277" bis_skin_checked="1">
                <div class="style-278" bis_skin_checked="1">
                    <div class="style-279" bis_skin_checked="1">
                        <div class="style-280" bis_skin_checked="1"><span
                                class="style-281"><span class="style-282"><img alt=""
                                        aria-hidden="true"
                                        src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2740%27%20height=%2740%27/%3e"
                                        class="style-283" /></span><img
                                    alt="Vinay - Customer Picture"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                    decoding="async" data-nimg="intrinsic"
                                    class="style-284" /><noscript class="style-285"><img
                                        alt="Vinay - Customer Picture" loading="lazy"
                                        decoding="async" data-nimg="intrinsic"
                                        style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                        srcSet="https://dom-website-prod-cdn-cms.porter.in/profile_pic_1_d8dfbc2a0e_1b31c25460.png 1x, https://dom-website-prod-cdn-cms.porter.in/profile_pic_1_d8dfbc2a0e_1b31c25460.png 2x"
                                        src="https://dom-website-prod-cdn-cms.porter.in/profile_pic_1_d8dfbc2a0e_1b31c25460.png" /></noscript></span>
                        </div>
                        <div class="style-286" bis_skin_checked="1">
                            <div class="style-287" bis_skin_checked="1">Vinay</div>
                            <div class="style-288" bis_skin_checked="1">
                                <div class="style-289" bis_skin_checked="1">Trucks,</div>
                                <div class="style-290" bis_skin_checked="1">5.0<div
                                        class="style-291" bis_skin_checked="1"><span
                                            class="style-292"><span class="style-293"><img
                                                    alt="" aria-hidden="true"
                                                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2712%27%20height=%2712%27/%3e"
                                                    class="style-294" /></span><img alt="rating"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                decoding="async" data-nimg="intrinsic"
                                                class="style-295" /><noscript
                                                class="style-296"><img alt="rating"
                                                    loading="lazy" decoding="async"
                                                    data-nimg="intrinsic"
                                                    style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                                    srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/rating_star.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/rating_star.svg 2x"
                                                    src="https://dom-website-prod-cdn-web.porter.in/public/images/common/rating_star.svg" /></noscript></span>
                                    </div>
                                </div>
                            </div>
                            <div class="style-297" bis_skin_checked="1">Nagpur</div>
                        </div>
                    </div>
                    <div class="style-298" bis_skin_checked="1">“Way better than naaka waalas.
                        Have shifted all my logistics needs to Porter and I can now safely focus
                        on my business growth. Amazing service!”</div>
                </div>
                <div class="style-299" bis_skin_checked="1">
                    <div class="style-300" bis_skin_checked="1">
                        <div class="style-301" bis_skin_checked="1"><span
                                class="style-302"><span class="style-303"><img alt=""
                                        aria-hidden="true"
                                        src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2740%27%20height=%2740%27/%3e"
                                        class="style-304" /></span><img alt="Dinesh Profile Pic"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                    decoding="async" data-nimg="intrinsic"
                                    class="style-305" /><noscript class="style-306"><img
                                        alt="Dinesh Profile Pic" loading="lazy" decoding="async"
                                        data-nimg="intrinsic"
                                        style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                        srcSet="https://dom-website-prod-cdn-cms.porter.in/profile_pic_2_b5211b5ba2_781bcaf609.png 1x, https://dom-website-prod-cdn-cms.porter.in/profile_pic_2_b5211b5ba2_781bcaf609.png 2x"
                                        src="https://dom-website-prod-cdn-cms.porter.in/profile_pic_2_b5211b5ba2_781bcaf609.png" /></noscript></span>
                        </div>
                        <div class="style-307" bis_skin_checked="1">
                            <div class="style-308" bis_skin_checked="1">Dinesh</div>
                            <div class="style-309" bis_skin_checked="1">
                                <div class="style-310" bis_skin_checked="1">Trucks,</div>
                                <div class="style-311" bis_skin_checked="1">4.0<div
                                        class="style-312" bis_skin_checked="1"><span
                                            class="style-313"><span class="style-314"><img
                                                    alt="" aria-hidden="true"
                                                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2712%27%20height=%2712%27/%3e"
                                                    class="style-315" /></span><img alt="rating"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                decoding="async" data-nimg="intrinsic"
                                                class="style-316" /><noscript
                                                class="style-317"><img alt="rating"
                                                    loading="lazy" decoding="async"
                                                    data-nimg="intrinsic"
                                                    style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                                    srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/rating_star.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/rating_star.svg 2x"
                                                    src="https://dom-website-prod-cdn-web.porter.in/public/images/common/rating_star.svg" /></noscript></span>
                                    </div>
                                </div>
                            </div>
                            <div class="style-318" bis_skin_checked="1">Mumbai</div>
                        </div>
                    </div>
                    <div class="style-319" bis_skin_checked="1">“Excellent service by multiple
                        drivers. I own a business and do multiple shiftings. Rather than ask
                        local drivers and bargain every time, I use porter which fulfils all my
                        need. Thanks a lot!”</div>
                </div>
                <div class="style-320" bis_skin_checked="1">
                    <div class="style-321" bis_skin_checked="1">
                        <div class="style-322" bis_skin_checked="1"><span
                                class="style-323"><span class="style-324"><img alt=""
                                        aria-hidden="true"
                                        src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2740%27%20height=%2740%27/%3e"
                                        class="style-325" /></span><img alt="Ashok Profile Pic"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                    decoding="async" data-nimg="intrinsic"
                                    class="style-326" /><noscript class="style-327"><img
                                        alt="Ashok Profile Pic" loading="lazy" decoding="async"
                                        data-nimg="intrinsic"
                                        style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                        srcSet="https://dom-website-prod-cdn-cms.porter.in/profile_pic_3_a7a672e59c_70d87cc5ed.png 1x, https://dom-website-prod-cdn-cms.porter.in/profile_pic_3_a7a672e59c_70d87cc5ed.png 2x"
                                        src="https://dom-website-prod-cdn-cms.porter.in/profile_pic_3_a7a672e59c_70d87cc5ed.png" /></noscript></span>
                        </div>
                        <div class="style-328" bis_skin_checked="1">
                            <div class="style-329" bis_skin_checked="1">Ashok</div>
                            <div class="style-330" bis_skin_checked="1">
                                <div class="style-331" bis_skin_checked="1">Trucks,</div>
                                <div class="style-332" bis_skin_checked="1">5.0<div
                                        class="style-333" bis_skin_checked="1"><span
                                            class="style-334"><span class="style-335"><img
                                                    alt="" aria-hidden="true"
                                                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2712%27%20height=%2712%27/%3e"
                                                    class="style-336" /></span><img alt="rating"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                decoding="async" data-nimg="intrinsic"
                                                class="style-337" /><noscript
                                                class="style-338"><img alt="rating"
                                                    loading="lazy" decoding="async"
                                                    data-nimg="intrinsic"
                                                    style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                                    srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/rating_star.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/rating_star.svg 2x"
                                                    src="https://dom-website-prod-cdn-web.porter.in/public/images/common/rating_star.svg" /></noscript></span>
                                    </div>
                                </div>
                            </div>
                            <div class="style-339" bis_skin_checked="1">Delhi NCR</div>
                        </div>
                    </div>
                    <div class="style-340" bis_skin_checked="1">“Have had an amazing experience.
                        Had three successful deliveries where it’s a struggle to arrange a tempo
                        service for your desired pickup and drop off. Must try this app!”</div>
                </div>
                <div class="style-341" bis_skin_checked="1">
                    <div class="style-342" bis_skin_checked="1">
                        <div class="style-343" bis_skin_checked="1"><span
                                class="style-344"><span class="style-345"><img alt=""
                                        aria-hidden="true"
                                        src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2740%27%20height=%2740%27/%3e"
                                        class="style-346" /></span><img alt="Syamantak Mitra"
                                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                    decoding="async" data-nimg="intrinsic"
                                    class="style-347" /><noscript class="style-348"><img
                                        alt="Syamantak Mitra" loading="lazy" decoding="async"
                                        data-nimg="intrinsic"
                                        style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                        srcSet="https://dom-website-prod-cdn-cms.porter.in/S_26200ce58f.svg 1x, https://dom-website-prod-cdn-cms.porter.in/S_26200ce58f.svg 2x"
                                        src="https://dom-website-prod-cdn-cms.porter.in/S_26200ce58f.svg" /></noscript></span>
                        </div>
                        <div class="style-349" bis_skin_checked="1">
                            <div class="style-350" bis_skin_checked="1">Syamantak Mitra</div>
                            <div class="style-351" bis_skin_checked="1">
                                <div class="style-352" bis_skin_checked="1">Packers and Movers,
                                </div>
                                <div class="style-353" bis_skin_checked="1">5.0<div
                                        class="style-354" bis_skin_checked="1"><span
                                            class="style-355"><span class="style-356"><img
                                                    alt="" aria-hidden="true"
                                                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2712%27%20height=%2712%27/%3e"
                                                    class="style-357" /></span><img alt="rating"
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                                decoding="async" data-nimg="intrinsic"
                                                class="style-358" /><noscript
                                                class="style-359"><img alt="rating"
                                                    loading="lazy" decoding="async"
                                                    data-nimg="intrinsic"
                                                    style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                                    srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/rating_star.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/rating_star.svg 2x"
                                                    src="https://dom-website-prod-cdn-web.porter.in/public/images/common/rating_star.svg" /></noscript></span>
                                    </div>
                                </div>
                            </div>
                            <div class="style-360" bis_skin_checked="1">Hyderabad</div>
                        </div>
                    </div>
                    <div class="style-361" bis_skin_checked="1">“Smooth experience with Porter's
                        packers and movers! The team was fantastic, handling every detail.
                        Highly recommend their services!“</div>
                </div>
            </div>
        </div>
    </div>
    <div class="style-362" bis_skin_checked="1">
        <div class="style-363" bis_skin_checked="1"><span class="style-364"><span
                    class="style-365"><img alt="" aria-hidden="true"
                        src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2750%27%20height=%278%27/%3e"
                        class="style-366" /></span><img alt="decoration"
                    src="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/home/section-header-wave-light.svg"
                    decoding="async" data-nimg="intrinsic"
                    srcset="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/home/section-header-wave-light.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/assets/icons/home/section-header-wave-light.svg 2x"
                    class="style-367" /><noscript class="style-368"><img alt="decoration"
                        loading="lazy" decoding="async" data-nimg="intrinsic"
                        style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                        srcSet="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/home/section-header-wave-light.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/assets/icons/home/section-header-wave-light.svg 2x"
                        src="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/home/section-header-wave-light.svg" /></noscript></span>
            <h2 class="style-369">IN THE NEWS</h2><span class="style-370"><span
                    class="style-371"><img alt="" aria-hidden="true"
                        src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2750%27%20height=%278%27/%3e"
                        class="style-372" /></span><img alt="decoration"
                    src="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/home/section-header-wave-light.svg"
                    decoding="async" data-nimg="intrinsic"
                    srcset="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/home/section-header-wave-light.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/assets/icons/home/section-header-wave-light.svg 2x"
                    class="style-373" /><noscript class="style-374"><img alt="decoration"
                        loading="lazy" decoding="async" data-nimg="intrinsic"
                        style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                        srcSet="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/home/section-header-wave-light.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/assets/icons/home/section-header-wave-light.svg 2x"
                        src="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/home/section-header-wave-light.svg" /></noscript></span>
        </div>
        <div bis_skin_checked="1" class="style-375">
            <div class="style-376" bis_skin_checked="1">
                <div class="style-377" bis_skin_checked="1">
                    <div class="style-378" bis_skin_checked="1">
                        <div class="style-379" bis_skin_checked="1">Logistics Company Porter has
                            launched its latest social media brand campaign House shifting hai?
                            Ho Jayega’, highlighting its packers and movers service offerings
                        </div>
                        <div class="style-380" bis_skin_checked="1"><span
                                class="style-381"><span class="style-382"><img alt=""
                                        aria-hidden="true"
                                        src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27464%27%20height=%2751%27/%3e"
                                        class="style-383" /></span><img alt="ET Brand Equity"
                                    src="https://dom-website-prod-cdn-cms.porter.in/brand_equity_c7c88d41bf_b736c8c48f.png"
                                    decoding="async" data-nimg="intrinsic"
                                    srcset="https://dom-website-prod-cdn-cms.porter.in/brand_equity_c7c88d41bf_b736c8c48f.png 1x, https://dom-website-prod-cdn-cms.porter.in/brand_equity_c7c88d41bf_b736c8c48f.png 2x"
                                    class="style-384" /><noscript class="style-385"><img
                                        alt="ET Brand Equity" loading="lazy" decoding="async"
                                        data-nimg="intrinsic"
                                        style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                        srcSet="https://dom-website-prod-cdn-cms.porter.in/brand_equity_c7c88d41bf_b736c8c48f.png 1x, https://dom-website-prod-cdn-cms.porter.in/brand_equity_c7c88d41bf_b736c8c48f.png 2x"
                                        src="https://dom-website-prod-cdn-cms.porter.in/brand_equity_c7c88d41bf_b736c8c48f.png" /></noscript></span>
                        </div><a class="style-386"
                            href="https://brandequity.economictimes.indiatimes.com/news/advertising/simplifying-packers-and-movers-services-with-porters-new-campaign/98632689"
                            rel="noreferrer" target="_blank">
                            <div class="style-387" bis_skin_checked="1">Read Article</div>
                            <div class="style-388" bis_skin_checked="1"><span
                                    class="style-389"><span class="style-390"><img alt=""
                                            aria-hidden="true"
                                            src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2720%27%20height=%2720%27/%3e"
                                            class="style-391" /></span><img alt="outbound-link"
                                        src="https://dom-website-prod-cdn-web.porter.in/public/images/common/read_article_outbound.svg"
                                        decoding="async" data-nimg="intrinsic"
                                        srcset="https://dom-website-prod-cdn-web.porter.in/public/images/common/read_article_outbound.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/read_article_outbound.svg 2x"
                                        class="style-392" /><noscript class="style-393"><img
                                            alt="outbound-link" loading="lazy" decoding="async"
                                            data-nimg="intrinsic"
                                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                            srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/read_article_outbound.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/read_article_outbound.svg 2x"
                                            src="https://dom-website-prod-cdn-web.porter.in/public/images/common/read_article_outbound.svg" /></noscript></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="style-394" bis_skin_checked="1">
                    <div class="style-395" bis_skin_checked="1">
                        <div class="style-396" bis_skin_checked="1">Porter announces INR 50 Cr
                            ESOP liquidation scheme for current and former employees as a sign
                            of appreciation and incentive for their growth and well-being.</div>
                        <div class="style-397" bis_skin_checked="1"><span
                                class="style-398"><span class="style-399"><img alt=""
                                        aria-hidden="true"
                                        src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27464%27%20height=%2751%27/%3e"
                                        class="style-400" /></span><img alt="BW Disrupt"
                                    src="https://dom-website-prod-cdn-cms.porter.in/full_Disrupt_logo_36e369b179.png"
                                    decoding="async" data-nimg="intrinsic"
                                    srcset="https://dom-website-prod-cdn-cms.porter.in/full_Disrupt_logo_36e369b179.png 1x, https://dom-website-prod-cdn-cms.porter.in/full_Disrupt_logo_36e369b179.png 2x"
                                    class="style-401" /><noscript class="style-402"><img
                                        alt="BW Disrupt" loading="lazy" decoding="async"
                                        data-nimg="intrinsic"
                                        style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                        srcSet="https://dom-website-prod-cdn-cms.porter.in/full_Disrupt_logo_36e369b179.png 1x, https://dom-website-prod-cdn-cms.porter.in/full_Disrupt_logo_36e369b179.png 2x"
                                        src="https://dom-website-prod-cdn-cms.porter.in/full_Disrupt_logo_36e369b179.png" /></noscript></span>
                        </div><a class="style-403"
                            href="https://bwdisrupt.businessworld.in/article/Porter-Offers-Liquidation-Of-ESOP-Worth-INR-50-Cr-To-Employees/24-01-2023-463157/"
                            rel="noreferrer" target="_blank">
                            <div class="style-404" bis_skin_checked="1">Read Article</div>
                            <div class="style-405" bis_skin_checked="1"><span
                                    class="style-406"><span class="style-407"><img alt=""
                                            aria-hidden="true"
                                            src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2720%27%20height=%2720%27/%3e"
                                            class="style-408" /></span><img alt="outbound-link"
                                        src="https://dom-website-prod-cdn-web.porter.in/public/images/common/read_article_outbound.svg"
                                        decoding="async" data-nimg="intrinsic"
                                        srcset="https://dom-website-prod-cdn-web.porter.in/public/images/common/read_article_outbound.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/read_article_outbound.svg 2x"
                                        class="style-409" /></span></div>
                        </a>
                    </div>
                </div>
                <div class="style-410" bis_skin_checked="1">
                    <div class="style-411" bis_skin_checked="1">
                        <div class="style-412" bis_skin_checked="1">“On-demand intra-city
                            logistics provider Porter has raised ₹750 crore in a Series E
                            funding round led by Tiger Global Management and Vitruvian Partners.
                            The latest funding round valued the startup at ₹3,750 crore."</div>
                        <div class="style-413" bis_skin_checked="1"><span
                                class="style-414"><span class="style-415"><img alt=""
                                        aria-hidden="true"
                                        src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27464%27%20height=%2751%27/%3e"
                                        class="style-416" /></span><img alt="LiveMint"
                                    src="https://dom-website-prod-cdn-cms.porter.in/mint_193ab700b3_1d5dc9e07d.png"
                                    decoding="async" data-nimg="intrinsic"
                                    srcset="https://dom-website-prod-cdn-cms.porter.in/mint_193ab700b3_1d5dc9e07d.png 1x, https://dom-website-prod-cdn-cms.porter.in/mint_193ab700b3_1d5dc9e07d.png 2x"
                                    class="style-417" /><noscript class="style-418"><img
                                        alt="LiveMint" loading="lazy" decoding="async"
                                        data-nimg="intrinsic"
                                        style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                        srcSet="https://dom-website-prod-cdn-cms.porter.in/mint_193ab700b3_1d5dc9e07d.png 1x, https://dom-website-prod-cdn-cms.porter.in/mint_193ab700b3_1d5dc9e07d.png 2x"
                                        src="https://dom-website-prod-cdn-cms.porter.in/mint_193ab700b3_1d5dc9e07d.png" /></noscript></span>
                        </div><a class="style-419"
                            href="https://www.livemint.com/companies/news/porter-raises-750-crore-from-tiger-global-and-others-11635158610734.html"
                            rel="noreferrer" target="_blank">
                            <div class="style-420" bis_skin_checked="1">Read Article</div>
                            <div class="style-421" bis_skin_checked="1"><span
                                    class="style-422"><span class="style-423"><img alt=""
                                            aria-hidden="true"
                                            src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2720%27%20height=%2720%27/%3e"
                                            class="style-424" /></span><img alt="outbound-link"
                                        src="https://dom-website-prod-cdn-web.porter.in/public/images/common/read_article_outbound.svg"
                                        decoding="async" data-nimg="intrinsic"
                                        srcset="https://dom-website-prod-cdn-web.porter.in/public/images/common/read_article_outbound.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/read_article_outbound.svg 2x"
                                        class="style-425" /></span></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="style-426" bis_skin_checked="1">
                <div class="style-427" bis_skin_checked="1">
                    <div class="style-428" bis_skin_checked="1"></div>
                    <div class="style-429" bis_skin_checked="1"></div>
                    <div class="style-430" bis_skin_checked="1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="style-431" bis_skin_checked="1"></div>
    <div class="style-432" bis_skin_checked="1"></div>
</div>