<section class="style-433">
    <div class="style-434" bis_skin_checked="1">
        <h2 class="style-435">Frequently Asked Questions</h2>
        <p class="style-436">In case you have more questions, feel free to reach out to us.</p>
    </div>
    <div class="style-437" bis_skin_checked="1">
        <div class="style-438" bis_skin_checked="1">
            <div class="style-439" bis_skin_checked="1">
                <h3 class="style-440">What is Porter App?
                </h3>
                <div class="style-441" bis_skin_checked="1"><span class="style-442"><span
                            class="style-443"><img alt="" aria-hidden="true"
                                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2724%27%20height=%2724%27/%3e"
                                class="style-444" /></span><img alt="arrow"
                            src="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg"
                            decoding="async" data-nimg="intrinsic"
                            srcset="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 2x"
                            class="style-445" /><noscript class="style-446"><img alt="arrow"
                                loading="lazy" decoding="async" data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 2x"
                                src="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg" /></noscript></span>
                </div>
            </div>
            <div class="style-447" bis_skin_checked="1">
                <div class="style-448" bis_skin_checked="1">
                    <p class="style-449">Porter is a leading logistics service provider offering
                        a wide range of transportation solutions. With Porter, you can deliver
                        goods reliably. With its vast operations in 22 Indian cities, including
                        cities like Mumbai, Delhi, Bangalore, Hyderabad, Chennai, Ahmedabad,
                        Pune, Surat, Jaipur and Kolkata, Porter makes deliveries easy.</p>
                    <p class="style-450">Looking for on-demand delivery services for business or
                        personal needs? Transport your goods and consignments via a mini-truck,
                        tempo or two-wheeler.
                        Reliable moving of your goods is now just a click away. Download Porter
                        now!</p>
                    <p class="style-451">In its 10 years of operation, Porter has transformed
                        logistics, handling everything from small items (e.g., a pin) to large
                        moves (e.g., relocating a penthouse). Key offerings include:</p>
                    <ul class="style-452">
                        <li class="style-453">On-demand goods transport services via Trucks and
                            Two-Wheelers: From commercial goods to personal goods, our on-demand
                            vehicles offer seamless, cost-effective, and reliable delivery
                            solutions. Choose from mini trucks, tempos, EVs, and two-wheelers to
                            transport goods effortlessly across the city—anytime, anywhere.</li>
                        <li class="style-454">Porter Enterprise: A complete logistics partner
                            for businesses, offering smart solutions for bulk transportation,
                            distribution, and supply chain management.</li>
                        <li class="style-455">Porter Packers &amp; Movers: Professional packing
                            and moving services designed for hassle-free relocation of homes
                        </li>
                        <li class="style-456">Porter Intercity Courier Services: Reliable and
                            timely parcel delivery via (surface or air) to 19000+ pin codes,
                            catering to both individuals and businesses with a focus on speed
                            and security</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="style-457" bis_skin_checked="1">
            <div class="style-458" bis_skin_checked="1">
                <h3 class="style-459">How do I use Porter App?</h3>
                <div class="style-460" bis_skin_checked="1"><span class="style-461"><span
                            class="style-462"><img alt="" aria-hidden="true"
                                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2724%27%20height=%2724%27/%3e"
                                class="style-463" /></span><img alt="arrow"
                            src="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg"
                            decoding="async" data-nimg="intrinsic"
                            srcset="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 2x"
                            class="style-464" /><noscript class="style-465"><img alt="arrow"
                                loading="lazy" decoding="async" data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 2x"
                                src="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg" /></noscript></span>
                </div>
            </div>
            <div class="style-466" bis_skin_checked="1">
                <div class="style-467" bis_skin_checked="1">
                    <p class="style-468">Follow these simple steps to start leveraging
                        Hassle-free goods transportation services from Porter:</p>
                    <ol class="style-469">
                        <li class="style-470">Download the Porter app</li>
                        <li class="style-471">Choose the service you want to use</li>
                        <li class="style-472">Select your pick-up and drop location</li>
                        <li class="style-473">Add any extra stops, if applicable</li>
                        <li class="style-474">Choose the most appropriate vehicle type as per
                            your requirements (2wheeler, three-wheelers or trucks)</li>
                        <li class="style-475">Select the type of goods you’re sending</li>
                        <li class="style-476">Choose your payment method</li>
                        <li class="style-477">Click on “Book Now” and your vehicle is on its
                            way!</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="style-478" bis_skin_checked="1">
            <div class="style-479" bis_skin_checked="1">
                <h3 class="style-480">How do I book a tempo/mini truck/bike or intercity courier
                    services online from the Porter app?</h3>
                <div class="style-481" bis_skin_checked="1"><span class="style-482"><span
                            class="style-483"><img alt="" aria-hidden="true"
                                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2724%27%20height=%2724%27/%3e"
                                class="style-484" /></span><img alt="arrow"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                            decoding="async" data-nimg="intrinsic" class="style-485" /><noscript
                            class="style-486"><img alt="arrow" loading="lazy" decoding="async"
                                data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 2x"
                                src="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg" /></noscript></span>
                </div>
            </div>
            <div class="style-487" bis_skin_checked="1">
                <div class="style-488" bis_skin_checked="1">
                    <p class="style-489">Get reliable and affordable logistics services from the
                        Porter app by following these steps:</p>
                    <ol class="style-490">
                        <li class="style-491">Sign in to the Porter app</li>
                        <li class="style-492">Choose the service you want - trucks, 2wheeler or
                            intercity courier services</li>
                        <li class="style-493">Set your pick up and drop off location</li>
                        <li class="style-494">Browse through the list of available vehicles
                            (Tata Ace, Pickup 8ft, 2wheeler etc) and pick the one that suits
                            your moving needs</li>
                        <li class="style-495">Enter a few additional details, apply coupons to
                            get exciting discounts, and confirm your booking.</li>
                        <li class="style-496">Sit back and relax - our verified driver partners
                            will do the rest.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="style-497" bis_skin_checked="1">
            <div class="style-498" bis_skin_checked="1">
                <h3 class="style-499">Does Porter transport between cities? </h3>
                <div class="style-500" bis_skin_checked="1"><span class="style-501"><span
                            class="style-502"><img alt="" aria-hidden="true"
                                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2724%27%20height=%2724%27/%3e"
                                class="style-503" /></span><img alt="arrow"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                            decoding="async" data-nimg="intrinsic" class="style-504" /><noscript
                            class="style-505"><img alt="arrow" loading="lazy" decoding="async"
                                data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 2x"
                                src="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg" /></noscript></span>
                </div>
            </div>
            <div class="style-506" bis_skin_checked="1">
                <div class="style-507" bis_skin_checked="1">
                    <p class="style-508">With Porter Intercity Courier Service, you can choose
                        to send courier and parcels across India to 19000+ pincodes via surface
                        or air. All at economical rates.</p>
                </div>
            </div>
        </div>
        <div class="style-509" bis_skin_checked="1">
            <div class="style-510" bis_skin_checked="1">
                <h3 class="style-511">What are the items that are prohibited by Porter?</h3>
                <div class="style-512" bis_skin_checked="1"><span class="style-513"><span
                            class="style-514"><img alt="" aria-hidden="true"
                                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2724%27%20height=%2724%27/%3e"
                                class="style-515" /></span><img alt="arrow"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                            decoding="async" data-nimg="intrinsic" class="style-516" /><noscript
                            class="style-517"><img alt="arrow" loading="lazy" decoding="async"
                                data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 2x"
                                src="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg" /></noscript></span>
                </div>
            </div>
            <div class="style-518" bis_skin_checked="1">
                <div class="style-519" bis_skin_checked="1">
                    <p class="style-520">Pornographic material, Dry ice used for packaging or
                        temperature control, Human corpses, organs, or body parts, Flammable
                        items (firecrackers, oil cans, adhesives, paint cans), explosives (arms,
                        ammunition, fireworks, flares, gunpowder, airbag inflators), Fire
                        extinguishers, Alcohol, tobacco, medicines, drugs, contraband,
                        narcotics, psychotropic substances, poisonous goods, toxic and
                        infectious items, Passports, antiques, works of art, High-capacity
                        batteries such as car batteries, generator batteries, machinery parts
                        containing oil, grease, fuel, or batteries, Corrosive items such as
                        acids, chemicals, etc., Radioactive material, Fragile items, Highly
                        perishable food items, LEDs, LCDs, plasma, OLED, and any kind of
                        television screens, Liquid product, Expensive electronics, mobile
                        phones, iPads, laptops, smart watches, etc., Livestock, Pets and
                        animals, Perishables, Platinum, gold, silver, jewelry, gems, precious
                        and semi-precious metals or stones in any form, Indian postal articles
                        such as stamps and articles like coins, banknotes, currency notes,
                        Sodexo or securities of any kind payable to bearer, traveler’s cheques,
                        credit/debit/ATM cards, Gambling devices, lottery tickets, Any
                        diagnostic specimens, hazardous or bio-medical waste, Sensitive
                        documents.</p>
                </div>
            </div>
        </div>
        <div class="style-521" bis_skin_checked="1">
            <div class="style-522" bis_skin_checked="1">
                <h3 class="style-523">What are the charges for goods transportation services by
                    truck and two-wheelers ?</h3>
                <div class="style-524" bis_skin_checked="1"><span class="style-525"><span
                            class="style-526"><img alt="" aria-hidden="true"
                                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2724%27%20height=%2724%27/%3e"
                                class="style-527" /></span><img alt="arrow"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                            decoding="async" data-nimg="intrinsic" class="style-528" /><noscript
                            class="style-529"><img alt="arrow" loading="lazy" decoding="async"
                                data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 2x"
                                src="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg" /></noscript></span>
                </div>
            </div>
            <div class="style-530" bis_skin_checked="1">
                <div class="style-531" bis_skin_checked="1">
                    <p class="style-532">The charges for goods transportation services by truck
                        and two-wheelers are based on the number of kilometres travelled and the
                        type of vehicle chosen and this differs from locality to locality. You
                        can also check the estimate tab on the Porter website to get an exact
                        idea of your final fare amount. Alternatively, the final fare amount can
                        be determined when making the booking on the app.</p>
                </div>
            </div>
        </div>
        <div class="style-533" bis_skin_checked="1">
            <div class="style-534" bis_skin_checked="1">
                <h3 class="style-535">Does Porter provide Packers and Movers services?</h3>
                <div class="style-536" bis_skin_checked="1"><span class="style-537"><span
                            class="style-538"><img alt="" aria-hidden="true"
                                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2724%27%20height=%2724%27/%3e"
                                class="style-539" /></span><img alt="arrow"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                            decoding="async" data-nimg="intrinsic" class="style-540" /><noscript
                            class="style-541"><img alt="arrow" loading="lazy" decoding="async"
                                data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 2x"
                                src="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg" /></noscript></span>
                </div>
            </div>
            <div class="style-542" bis_skin_checked="1">
                <div class="style-543" bis_skin_checked="1">
                    <p class="style-544">Yes, Porter caters to all kinds of house shifting needs
                        through Porter Packers &amp; Movers. If you have an immediate moving
                        requirement, we also have the option to hire a mini truck with labour.
                        Intracity shifting services through Porter Packers and Movers is
                        available in Mumbai, Delhi NCR, Bangalore, Hyderabad, Chennai, Pune,
                        Kolkata, Ahmedabad, Surat, Coimbatore, Indore, Jaipur, Lucknow and
                        Nagpur. Intercity Packers and Movers services can be availed between any
                        of the following cities - Mumbai, Delhi NCR, Bangalore, Hyderabad,
                        Chennai, Pune, Kolkata and Ahmedabad.
                        If you don’t see your city in the above list, don’t worry; the service
                        will be launching soon in other cities. To enquire about Porter Packers
                        and Movers or avail the service, call 4410 4410 (add your city code).
                    </p>
                </div>
            </div>
        </div>
        <div class="style-545" bis_skin_checked="1">
            <div class="style-546" bis_skin_checked="1">
                <h3 class="style-547">What types of goods does Porter transport?</h3>
                <div class="style-548" bis_skin_checked="1"><span class="style-549"><span
                            class="style-550"><img alt="" aria-hidden="true"
                                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2724%27%20height=%2724%27/%3e"
                                class="style-551" /></span><img alt="arrow"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                            decoding="async" data-nimg="intrinsic" class="style-552" /><noscript
                            class="style-553"><img alt="arrow" loading="lazy" decoding="async"
                                data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 2x"
                                src="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg" /></noscript></span>
                </div>
            </div>
            <div class="style-554" bis_skin_checked="1">
                <div class="style-555" bis_skin_checked="1">
                    <p class="style-556">From a pin to an entire house, we will help transport
                        anything, anywhere, anytime. However, Porter does not help in the
                        transportation of prohibited goods.</p>
                </div>
            </div>
        </div>
        <div class="style-557" bis_skin_checked="1">
            <div class="style-558" bis_skin_checked="1">
                <h3 class="style-559">How long does it take to transport goods via Porter?
                </h3>
                <div class="style-560" bis_skin_checked="1"><span class="style-561"><span
                            class="style-562"><img alt="" aria-hidden="true"
                                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2724%27%20height=%2724%27/%3e"
                                class="style-563" /></span><img alt="arrow"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                            decoding="async" data-nimg="intrinsic" class="style-564" /><noscript
                            class="style-565"><img alt="arrow" loading="lazy" decoding="async"
                                data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 2x"
                                src="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg" /></noscript></span>
                </div>
            </div>
            <div class="style-566" bis_skin_checked="1">
                <div class="style-567" bis_skin_checked="1">
                    <p class="style-568">When choosing on-demand goods transport services via
                        trucks and two-wheelers, transportation takes place via road. The
                        distance and traffic play a major role in determining the delivery time.
                    </p>
                    <p class="style-569">When choosing Porter Intercity Courier Services via air
                        or ground, there are multiple options to choose from. Some packages can
                        be transported to other cities within a couple of days, or if you opt
                        for express air intercity courier services, items can be delivered
                        within a shorter timeline.</p>
                </div>
            </div>
        </div>
        <div class="style-570" bis_skin_checked="1">
            <div class="style-571" bis_skin_checked="1">
                <h3 class="style-572">Does Porter provide mini trucks like tata ace on monthly
                    contract?
                </h3>
                <div class="style-573" bis_skin_checked="1"><span class="style-574"><span
                            class="style-575"><img alt="" aria-hidden="true"
                                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2724%27%20height=%2724%27/%3e"
                                class="style-576" /></span><img alt="arrow"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                            decoding="async" data-nimg="intrinsic" class="style-577" /><noscript
                            class="style-578"><img alt="arrow" loading="lazy" decoding="async"
                                data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 2x"
                                src="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg" /></noscript></span>
                </div>
            </div>
            <div class="style-579" bis_skin_checked="1">
                <div class="style-580" bis_skin_checked="1">
                    <p class="style-581">Porter does not provide vehicles on contract or rental
                        basis. We provide on-demand availability of mini trucks like Tata Ace.
                        For bulk orders and frequent uses, we provide Porter Enterprise service
                        with one app-multi-city-mutli user access.</p>
                </div>
            </div>
        </div>
        <div class="style-582" bis_skin_checked="1">
            <div class="style-583" bis_skin_checked="1">
                <h3 class="style-584">How does an API Integration with Porter work?</h3>
                <div class="style-585" bis_skin_checked="1"><span class="style-586"><span
                            class="style-587"><img alt="" aria-hidden="true"
                                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2724%27%20height=%2724%27/%3e"
                                class="style-588" /></span><img alt="arrow"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                            decoding="async" data-nimg="intrinsic" class="style-589" /><noscript
                            class="style-590"><img alt="arrow" loading="lazy" decoding="async"
                                data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 2x"
                                src="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg" /></noscript></span>
                </div>
            </div>
            <div class="style-591" bis_skin_checked="1">
                <div class="style-592" bis_skin_checked="1">
                    <p class="style-593">Porter's APIs are simple to integrate and use. The
                        simple layouts will be easily adaptable and will start creating orders
                        directly from your order management system.</p>
                </div>
            </div>
        </div>
        <div class="style-594" bis_skin_checked="1">
            <div class="style-595" bis_skin_checked="1">
                <h3 class="style-596">How does an API integration solve business problems?</h3>
                <div class="style-597" bis_skin_checked="1"><span class="style-598"><span
                            class="style-599"><img alt="" aria-hidden="true"
                                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2724%27%20height=%2724%27/%3e"
                                class="style-600" /></span><img alt="arrow"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                            decoding="async" data-nimg="intrinsic" class="style-601" /><noscript
                            class="style-602"><img alt="arrow" loading="lazy" decoding="async"
                                data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 2x"
                                src="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg" /></noscript></span>
                </div>
            </div>
            <div class="style-603" bis_skin_checked="1">
                <div class="style-604" bis_skin_checked="1">
                    <p class="style-605">An API Integration with Porter helps companies with
                        webhook updates, live tracking, and delivery authentication across 16
                        cities. Utilise a standardised 2-wheeler service with zero hassles.</p>
                </div>
            </div>
        </div>
        <div class="style-606" bis_skin_checked="1">
            <div class="style-607" bis_skin_checked="1">
                <h3 class="style-608">What vehicle categories are available via the APIs?
                </h3>
                <div class="style-609" bis_skin_checked="1"><span class="style-610"><span
                            class="style-611"><img alt="" aria-hidden="true"
                                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2724%27%20height=%2724%27/%3e"
                                class="style-612" /></span><img alt="arrow"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                            decoding="async" data-nimg="intrinsic" class="style-613" /><noscript
                            class="style-614"><img alt="arrow" loading="lazy" decoding="async"
                                data-nimg="intrinsic"
                                style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                                srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg 2x"
                                src="https://dom-website-prod-cdn-web.porter.in/public/images/common/arrow-icon.svg" /></noscript></span>
                </div>
            </div>
            <div class="style-615" bis_skin_checked="1">
                <div class="style-616" bis_skin_checked="1">
                    <p class="style-617">Porter's APIs are currently available on Two-Wheelers.
                        API integration on other vehicles will be launched soon.</p>
                </div>
            </div>
        </div>
    </div>
</section>