<div class="style-71" bis_skin_checked="1">
    <div class="style-72" bis_skin_checked="1"><span class="style-73"><img alt="Home Banner Image"
                srcset="/_next/image?url=https%3A%2F%2Fdom-website-prod-cdn-cms.porter.in%2FDesktop_2_5fd0d00dd3.webp&amp;w=640&amp;q=75 640w, /_next/image?url=https%3A%2F%2Fdom-website-prod-cdn-cms.porter.in%2FDesktop_2_5fd0d00dd3.webp&amp;w=750&amp;q=75 750w, /_next/image?url=https%3A%2F%2Fdom-website-prod-cdn-cms.porter.in%2FDesktop_2_5fd0d00dd3.webp&amp;w=828&amp;q=75 828w, /_next/image?url=https%3A%2F%2Fdom-website-prod-cdn-cms.porter.in%2FDesktop_2_5fd0d00dd3.webp&amp;w=1080&amp;q=75 1080w, /_next/image?url=https%3A%2F%2Fdom-website-prod-cdn-cms.porter.in%2FDesktop_2_5fd0d00dd3.webp&amp;w=1200&amp;q=75 1200w, /_next/image?url=https%3A%2F%2Fdom-website-prod-cdn-cms.porter.in%2FDesktop_2_5fd0d00dd3.webp&amp;w=1920&amp;q=75 1920w, /_next/image?url=https%3A%2F%2Fdom-website-prod-cdn-cms.porter.in%2FDesktop_2_5fd0d00dd3.webp&amp;w=2048&amp;q=75 2048w, /_next/image?url=https%3A%2F%2Fdom-website-prod-cdn-cms.porter.in%2FDesktop_2_5fd0d00dd3.webp&amp;w=3840&amp;q=75 3840w"
                sizes="(max-width: 560px) 100vw, (min-width: 560px) 100vw"
                src="/_next/image?url=https%3A%2F%2Fdom-website-prod-cdn-cms.porter.in%2FDesktop_2_5fd0d00dd3.webp&amp;w=3840&amp;q=75"
                decoding="async" data-nimg="fill" class="style-74" /></span></div>
    <div class="style-75" bis_skin_checked="1"></div>
    <div class="style-76" bis_skin_checked="1">
        <h1 class="style-77">Delivery hai?</h1>
        <h1 class="style-78">#HoJayega!</h1>
    </div>
</div>

