<div class="style-81" bis_skin_checked="1">
    <div class="style-82" bis_skin_checked="1">
        <div class="style-83" bis_skin_checked="1">
            <div class="style-84" bis_skin_checked="1"><span class="style-85"><span
                        class="style-86"><img alt="" aria-hidden="true"
                            src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2720%27%20height=%2720%27/%3e"
                            class="style-87" /></span><img alt="City selector location icon"
                        src="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/common/location/location-picker-v2.svg"
                        decoding="async" data-nimg="intrinsic"
                        srcset="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/common/location/location-picker-v2.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/assets/icons/common/location/location-picker-v2.svg 2x"
                        class="style-88" /><noscript class="style-89"><img
                            alt="City selector location icon" loading="lazy" decoding="async"
                            data-nimg="intrinsic"
                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                            srcSet="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/common/location/location-picker-v2.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/assets/icons/common/location/location-picker-v2.svg 2x"
                            src="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/common/location/location-picker-v2.svg" /></noscript></span>
                <div class="style-90" bis_skin_checked="1">
                    <p class="style-91">City:</p>
                    <p class="style-92">delhi</p>
                </div><span class="style-93"><span class="style-94"><img alt=""
                            aria-hidden="true"
                            src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2720%27%20height=%2720%27/%3e"
                            class="style-95" /></span><img alt="City selector arrow icon"
                        src="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/common/arrows/drop-down-v2.svg"
                        decoding="async" data-nimg="intrinsic"
                        srcset="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/common/arrows/drop-down-v2.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/assets/icons/common/arrows/drop-down-v2.svg 2x"
                        class="style-96" /><noscript class="style-97"><img
                            alt="City selector arrow icon" loading="lazy" decoding="async"
                            data-nimg="intrinsic"
                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                            srcSet="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/common/arrows/drop-down-v2.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/assets/icons/common/arrows/drop-down-v2.svg 2x"
                            src="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/common/arrows/drop-down-v2.svg" /></noscript></span>
            </div>
        </div>
        <div class="style-98" bis_skin_checked="1">
            <div class="style-99" bis_skin_checked="1"><a class="style-100"
                    href="https://porter.in/bike-parcel-delivery-delhi">
                    <div class="style-101" bis_skin_checked="1"><span class="style-102"><span
                                class="style-103"><img alt="" aria-hidden="true"
                                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27200%27%20height=%27200%27/%3e"
                                    class="style-104" /></span><img alt="Two Wheelers Icon"
                                src="https://dom-website-prod-cdn-cms.porter.in/2_wheelers_274869b2af_7262e4dde4.webp"
                                decoding="async" data-nimg="intrinsic"
                                srcset="https://dom-website-prod-cdn-cms.porter.in/2_wheelers_274869b2af_7262e4dde4.webp 1x, https://dom-website-prod-cdn-cms.porter.in/2_wheelers_274869b2af_7262e4dde4.webp 2x"
                                class="style-105" /><noscript
                                class="style-106"></noscript></span></div>
                    <div class="style-107" bis_skin_checked="1">Two Wheelers</div>
                </a><a class="style-108" href="https://porter.in/rent-mini-trucks-in-delhi">
                    <div class="style-109" bis_skin_checked="1"><span class="style-110"><span
                                class="style-111"><img alt="" aria-hidden="true"
                                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27200%27%20height=%27200%27/%3e"
                                    class="style-112" /></span><img alt="Trucks Icon"
                                src="https://dom-website-prod-cdn-cms.porter.in/trucks_293a94a860_cc4b2d6d06.webp"
                                decoding="async" data-nimg="intrinsic"
                                srcset="https://dom-website-prod-cdn-cms.porter.in/trucks_293a94a860_cc4b2d6d06.webp 1x, https://dom-website-prod-cdn-cms.porter.in/trucks_293a94a860_cc4b2d6d06.webp 2x"
                                class="style-113" /><noscript
                                class="style-114"></noscript></span></div>
                    <div class="style-115" bis_skin_checked="1">Trucks</div>
                </a><a class="CategoryCard_category-card__36Eh4"
                    id="category-card-Packers&amp;Movers"
                    href="https://porter.in/packers-and-movers/delhi">
                    <div class="CategoryCard_icon-bg__iY_u5" bis_skin_checked="1" id="w2v-116">
                        <span
                            style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"
                            id="w2v-117"><span
                                style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"
                                id="w2v-118"><img alt="" aria-hidden="true"
                                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27200%27%20height=%27200%27/%3e"
                                    style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"
                                    id="w2v-119" /></span><img alt="Packers and Movers Icon"
                                src="https://dom-website-prod-cdn-cms.porter.in/Pn_M_56aa8e7af2_4b05aeef37.webp"
                                decoding="async" data-nimg="intrinsic"
                                style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
                                srcset="https://dom-website-prod-cdn-cms.porter.in/Pn_M_56aa8e7af2_4b05aeef37.webp 1x, https://dom-website-prod-cdn-cms.porter.in/Pn_M_56aa8e7af2_4b05aeef37.webp 2x"
                                id="w2v-120" /><noscript id="w2v-121"></noscript></span></div>
                    <div class="CategoryCard_text__MERLl" bis_skin_checked="1" id="w2v-122">
                        Packers &amp; Movers</div>
                </a><a class="style-116" href="https://porter.in/courier/delhi">
                    <div class="style-117" bis_skin_checked="1"><span class="style-118"><span
                                class="style-119"><img alt="" aria-hidden="true"
                                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27200%27%20height=%27200%27/%3e"
                                    class="style-120" /></span><img
                                alt="Intercity Courier Service"
                                src="https://dom-website-prod-cdn-cms.porter.in/all_india_courier_service_3b0f4df07f.webp"
                                decoding="async" data-nimg="intrinsic"
                                srcset="https://dom-website-prod-cdn-cms.porter.in/all_india_courier_service_3b0f4df07f.webp 1x, https://dom-website-prod-cdn-cms.porter.in/all_india_courier_service_3b0f4df07f.webp 2x"
                                class="style-121" /><noscript
                                class="style-122"></noscript></span></div>
                    <div class="style-123" bis_skin_checked="1">Intercity Courier Service</div>
                </a>
                <div class="style-124" bis_skin_checked="1">
                    <div bis_skin_checked="1" class="style-125">
                        <div class="style-126" bis_skin_checked="1">Get an estimate</div>
                        <div class="style-127" bis_skin_checked="1">(takes ~2 mins)</div>
                    </div>
                    <div class="style-128" bis_skin_checked="1"><span class="style-129"><span
                                class="style-130"><img alt="" aria-hidden="true"
                                    src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2720%27%20height=%2715%27/%3e"
                                    class="style-131" /></span><img alt="Right Arrow Icon"
                                src="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/common/arrows/east.svg"
                                decoding="async" data-nimg="intrinsic"
                                srcset="https://dom-website-prod-cdn-web.porter.in/public/assets/icons/common/arrows/east.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/assets/icons/common/arrows/east.svg 2x"
                                class="style-132" /><noscript
                                class="style-133"></noscript></span></div>
                </div>
            </div>
        </div>
    </div>
</div>