<div class="style-211" bis_skin_checked="1">
    <div class="style-212" bis_skin_checked="1">
        <div class="style-213" bis_skin_checked="1">Book your order with us on the app!</div>
        <div class="style-214" bis_skin_checked="1"><span class="style-215"><span
                    class="style-216"><img alt="" aria-hidden="true"
                        src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2787%27%20height=%2787%27/%3e"
                        class="style-217" /></span><img alt="Porter App Icon"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                    decoding="async" data-nimg="intrinsic" class="style-218" /><noscript
                    class="style-219"><img alt="Porter App Icon" loading="lazy" decoding="async"
                        data-nimg="intrinsic"
                        style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                        srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/download-app-icon-v2.svg 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/download-app-icon-v2.svg 2x"
                        src="https://dom-website-prod-cdn-web.porter.in/public/images/common/download-app-icon-v2.svg" /></noscript></span>
        </div>
        <div class="style-220" bis_skin_checked="1">We are loved by 10,00,000 + customers for
            our service!</div><button class="style-221"><a
                href="https://porter.in/app?utm_source=mid_page&amp;utm_medium=mid_page_organic&amp;utm_campaign=static_download&amp;utm_term=home&amp;utm_content=&amp;landing_page=mob_delhi&amp;current_page=mid_page_home_mob&amp;feature_source=mid_page_home_mob"
                class="style-222">Download App</a></button>
        <div class="style-223" bis_skin_checked="1">
            <div class="style-224" bis_skin_checked="1"><span class="style-225"><span
                        class="style-226"><img alt="" aria-hidden="true"
                            src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2786%27%20height=%2725.9%27/%3e"
                            class="style-227" /></span><img alt="android-download"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        decoding="async" data-nimg="intrinsic" class="style-228" /><noscript
                        class="style-229"><img alt="android-download" loading="lazy"
                            decoding="async" data-nimg="intrinsic"
                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                            srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/googleplay.png 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/googleplay.png 2x"
                            src="https://dom-website-prod-cdn-web.porter.in/public/images/common/googleplay.png" /></noscript></span>
            </div>
            <div class="style-230" bis_skin_checked="1"></div>
            <div class="style-231" bis_skin_checked="1"><span class="style-232"><span
                        class="style-233"><img alt="" aria-hidden="true"
                            src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2786%27%20height=%2725.9%27/%3e"
                            class="style-234" /></span><img alt="iOS-download"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        decoding="async" data-nimg="intrinsic" class="style-235" /><noscript
                        class="style-236"><img alt="iOS-download" loading="lazy"
                            decoding="async" data-nimg="intrinsic"
                            style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
                            srcSet="https://dom-website-prod-cdn-web.porter.in/public/images/common/appstore.png 1x, https://dom-website-prod-cdn-web.porter.in/public/images/common/appstore.png 2x"
                            src="https://dom-website-prod-cdn-web.porter.in/public/images/common/appstore.png" /></noscript></span>
            </div>
        </div>
        <div class="style-237" bis_skin_checked="1"></div>
        <div class="style-238" bis_skin_checked="1"></div>
    </div>
</div>